---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="Age calculator">
	<header class="h-32 text-4xl flex justify-center items-center">
		<h1>Age <span class="text-green-600">calculator</span></h1>
	</header>
	<main>
		<div class="flex items-center justify-center">
				<div class="flex flex-col rounded-lg overflow-hidden sm:flex-row">
					<input id="inputDate" class="py-3 px-4 border-gray-300 border-2 outline-none focus:bg-gray-100" type="date">
					<button id="btnCalculate" class="py-3 px-4 bg-green-700 text-gray-100 font-semibold hover:bg-green-500">Calculate</button>
				</div>
		</div>

		<div class="flex gap-20 mt-20">
			<Card number="-" name="Years" />
			<Card number="-" name="Months" />
			<Card number="-" name="Days" />
		</div>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
