---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Age calculator">
	<header class="h-32 text-4xl flex justify-center items-center">
		<h1>Age <span class="text-green-600">calculator</span></h1>
	</header>
	<main>
		<div class="flex items-center justify-center">
				<div class="flex flex-col rounded-lg overflow-hidden sm:flex-row">
					<input id="inputDate" class="py-3 px-4 border-gray-300 border-2 outline-none focus:bg-gray-100" type="date">
					<button id="btnCalculate" class="py-3 px-4 bg-green-700 text-gray-100 font-semibold hover:bg-green-500">Calculate</button>
				</div>
		</div>

		<div class="flex gap-20 mt-20">
			<div class="w-full border-gray-300 bg-white border-2 rounded-lg flex flex-col items-center py-5">
				<h2 id="years">-</h2>
				<p>Years</p>
			</div>
			<div class="w-full border-gray-300 bg-white border-2 rounded-lg flex flex-col items-center py-5">
				<h2 id="months">-</h2>
				<p>Months</p>
			</div>
			<div class="w-full border-gray-300 bg-white border-2 rounded-lg flex flex-col items-center py-5">
				<h2 id="days">-</h2>
				<p>Days</p>
			</div>
		</div>

	</main>
</Layout>

<script>
	const btnCalculate = document.getElementById('btnCalculate');
	const cardYears = document.getElementById('years');
	const cardMonths = document.getElementById('months');
	const cardDays = document.getElementById('days');
	

	btnCalculate?.addEventListener('click', () => {
		const inputDate = document.getElementById('inputDate') as HTMLInputElement;
		const dateBirth = new Date(inputDate.value);
		const dateNow = new Date();

		console.log(dateBirth, inputDate.value)
		const age = String(dateNow.getFullYear() - dateBirth.getFullYear());
		const months = String(dateNow.getMonth() - dateBirth.getMonth());
		const days = String(dateNow.getDate() - dateBirth.getDate());
		console.log(age, months, days);
		cardYears.innerHTML = age;
		cardMonths.innerHTML = months;
		cardDays.innerHTML = days;
	})
</script>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
