---
interface Props {
	number: string;
	name: string;
}

const { number = "-", name = "Days" } = Astro.props;
---

<div class="w-full border-gray-300 bg-white border-2 rounded-lg flex flex-col items-center py-5">
	<h2>{number}</h2>
	<p>{name}</p>
</div>

